@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Mochiy+Pop+One&family=Oswald:wght@300&family=Playfair+Display:ital@0;1&family=Quicksand:wght@500&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

main {
    background-image: url(../res/2833951.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 185vh;
}

.welc {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 8%;
    color: whitesmoke;

}

.calculator {
    background-color: rgb(37, 37, 37);
    position: relative;
    margin-top: 10%;
    border: solid 10px black;
    border-radius: 5px;
    transition: .5s;
    width: 263px;
    left: 55%;
    top: 10%;
}

.calculator:hover {
    transform: scale(1.3);
    transition: .5s;
}

.hov{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 3rem;
    color: whitesmoke;
    position: relative;
    top: 38%;
    margin-left: 230px;
}

.screen {
    background-color: burlywood;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 15px;
    padding-right: 10px;
    font-size: 2rem;
   
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4 , 50px);
    grid-template-rows: repeat(5 , 50px);
    gap: 7px;
    margin: 10px 10px;
}

.btn{
    border-radius: 5px;
    background-color:rgb(6, 2, 63) ;
    color: wheat;
    transition: .5s;
}

.btn:hover {
    transform: scale(1.1);
    transition: .5s;
    background-color:rgb(3, 1, 22) ;
}

.special:hover {
    background:
    linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    transition: .5s;
}



